.post {
	max-width: 500px;
	background-color: white;
	border: 1px solid lightgrey;
	margin-bottom: 45px;
	border-radius: 5px;
}

.post__header {
	display: flex;
	align-items: center;
	padding: 20px;
}

.post__avatar {
	margin-right: 10px;
}
.post__image {
	object-fit: contain;
	width: 100%;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}

.post__text {
	font-weight: normal;
	padding: 10px 20px;
}

.post__username {
	margin-right: 5px;
}

.post__commentBox {
	display: flex;
	margin-top: 10px;
	padding: 3px;
}
.post__input {
	flex: 1;
	border: none;
	padding: 10px;
	font-weight: normal;
	font-size: medium;
	border-top: 1px solid lightgrey;
}
.post__buttondisabled {
	flex: 0;
	border: none;
	font-weight: bold;
	font-size: medium;
	/* color: #1c088d; */
	background-color: transparent;
	border-top: 1px solid lightgrey;
}

.post__buttonenabled {
	flex: 0;
	border: none;
	font-weight: bold;
	font-size: medium;
	color: #0095f6;
	background-color: transparent;
	border-top: 1px solid lightgrey;
}

.post__comments {
	padding: 10px 20px;
}
