* {
	margin: 0;
}

.app {
	background-color: #fafafa;
}

.app__headerImage {
	object-fit: contain;
	/* to not let the image stretch */
}
.app__postsright {
	margin-left: 20px;
}

.app__posts {
	padding: 20px;
	display: flex;
	justify-content: center;
}

.app__header {
	/* keep aspect ratio mentained however the container grows */
	object-fit: contain;
	position: sticky;
	z-index: 1;
	top: 0;
	padding: 20px;
	border-bottom: 1px solid lightgrey;
	background-color: white;
	display: flex;
	justify-content: space-between;
	/* display flex to get items in a row and justify-content: space-between; to get two items in one div spaced max in between  */
}

.app__signup {
	display: flex;
	flex-direction: column;
}
